<h1>Alquilapp</h1>
<p>Ingrese para ver todas las funcionalidades</p>

<% if usuario_signed_in? %>
    <%= button_to "Cerrar sesion", destroy_usuario_session_path, method: :delete  %>
    <%= image_tag current_usuario.license, class: "img-thumbnail", style: "max-width: 48px" if current_usuario.license.attached?%>
<%else %>
    <%= button_to "Ingresar", new_usuario_session_path, method: :get %>
<% end %>


